{% extends "::layout.html.twig" %}

{% block section %}
    <li>Administration</li>
    <li>Delete post</li>
{% endblock %}

{% block page_content %}
    <h2>Delete post</h2>
    <div class="form-container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Warning!</h3>
            </div>
            <div class="panel-body">
                You are about to delete this post. Once you delete it, you cannot undo the operation.
            </div>
        </div>
        <div class="row post">
            <div class="col-lg-12">
                <div>
                    <h3>{{ post.title }}</h3>
                </div>
                <div>
                    <h6>
                        {{ post.created | date('M d, Y') }}
                    </h6>
                </div>
                <div class="content">
                    {{ post.content | raw }}
                </div>
            </div>
        </div>
        <form action="{{ url('delete_post', { 'postId': post.id }) }}" method="post" class="bs-example form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" id="submit" name="submit" class="btn btn-danger delete-post">Delete this post</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
