{% extends "::layout.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3>Post you are trying to view is not available at the moment!</h3>
            </div>
        </div>
    </div>
{% endblock %}
