{% extends "::layout.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3>{{ "error.post_not_found" | trans }}</h3>
            </div>
        </div>
    </div>
{% endblock %}
