{% extends "::layout.html.twig" %}

{% block section %}
    <li>View post</li>
    <li>{{ post.title | capitalize }}</li>
{% endblock %}

{% block page_content %}
    <div class="row post">
        <div class="col-lg-12">
            <div>
                <h3>{{ post.title }}</h3>
            </div>
            <div>
                <h4>
                    <span class="label label-default">
                        {{ post.created | date('M d, Y') }}
                    </span>
                </h4>
            </div>
            <div class="content">
                {{ post.content | raw }}
            </div>
        </div>
    </div>
{% endblock %}
