.DS_Store
.idea
.vagrant

composer.phar
composer.bat
vendor/*

nbproject/
web/js
web/css
web/bundles/
app/cache/*
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/logs/*
app/config/parameters.yml
app/data/*
/bin
