parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    blog_theme: spacelab
    blog_title: BlogIt
    blog_hero: Welcome to your new blog
    blog_subhero: It's time to sit down and write down some good stories ...
    blog_copyright: Your copyright name
    blog_email: your.email@address.com

    facebook_like_button: true
    facebook_commenting:  true
    addsearch_key:        ~
    uploader_url:         ~