{% extends "::layout.html.twig" %}

{% block page_content %}
    {% for article in articles %}
        <div class="row article">
            <div class="col-lg-12">
                <div>
                    <h3>{{ article.title }}</h3>
                </div>
                <div>
                    <h4>
                        <span class="label label-default">
                            {{ article.created | date('M d, Y') }}
                        </span>
                    </h4>
                </div>
                <div>
                    {{ article.content | raw }}
                </div>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3>No posts found!</h3>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
