.page {
    margin-top: 80px;
}

.bs-masthead {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 15px;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.list-group-item {
    border: 0px;
}

div.update p {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
}

.page-title {
    margin-bottom: 20px;
}

.post {
    margin-bottom: 40px;
}

.content {
    margin-top: 20px;
}

.content img {
    max-width: 200px;
    display:block;
}

.form-container {
    margin-top: 25px;
}

.delete-post {
    margin-top: 15px;
}

.admin-options {
    min-width: 200px;
}

.facebook-comments {
    margin-top: 15px;
}

.share-group {
    margin-top: 30px;
    padding-left: 13px;
}

#footer {
    height: 70px;
}

@media (max-width: 767px) {
    .page {
        margin-top: 145px;
    }

    .bs-masthead {
        margin-bottom: 30px;
    }

    .form-container {
        margin-top: 10px;
    }

    .form-control {
        width: 93%;
        margin-left: 15px;
    }

    .navbar-form {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 15px;
    }

    .navbar-collapse {
        border-top: 0px;
    }

    .content img {
        max-width: 200px;
        width: 32% !important;
        height:auto !important;
        display:block;
    }
}

@media (min-width: 1200px) {
    .page {
        margin-top: 80px;
    }

    .container {
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .post {
        margin-bottom: 30px;
    }
}
